:root {
    --background-color: ;
    --dasboard-background-color: ;
    --searchbar-area-background-color: ;
    --navbar-area-background-color: ;
    --button-color: ;
    --font-color: ;
    --dashboard-font-color: ;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-grid-container {
    border: solid black;
    height: 100vh;
    display: grid;
    grid-template: 10% 10% 27.5% 25% 27.5% / 25% 25% 25% 25%;
}
.dashboard-area {
    border: solid blue;
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
}
.searchbar-and-account-area {
    border: solid red;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
}
.navbar-area {
    border: dashed red;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
}
.project-display-area {
    border: solid brown;
}