:root {
    --background-color: #A7A7A7;
    --dasboard-background-color: #1992D4;
    --searchbar-area-background-color: #FFFFFF;
    --navbar-area-background-color: #FFFFFF;
    --button-color: #1992D4;
    --font-color: #000000;
    --dashboard-font-color: #FFFFFF;
    --icon-color: #FACC15;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main-grid-container {
    height: 100vh;
    display: grid;
    grid-template: 10% 10% 27.5% 25% 27.5% / repeat(4, 25%);
}
.dashboard-area {
    background-color: var(--dasboard-background-color);
    grid-row-start: 1;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    grid-template: repeat(10, 10%) / 100%; 
    
}

.icon-container {
    grid-row-start: 1;
    grid-row-end: 1;
    display: flex;
    justify-content: start;
    align-items: center;
}

.logo{
    background-color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    display: grid;
    grid-template: repeat(4, 25%), repeat(2, 50%);
}

.logo-box {
    border: solid var(--dasboard-background-color);
    width: 12px;
    height: 13px;
}

.dashboard {
    margin-left: 15px;
    color: var(--dashboard-font-color);
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-information-container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-left: 15px;
    grid-row-start: 2;
    grid-row-end: 6;
}

.li-container {
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--dashboard-font-color);
    font-weight: bolder;
    font-size: 18px;
}

.li-container .material-icons {
    color: var(--dashboard-font-color);
}

.setting-container {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-left: 15px;
    grid-row-start: 6;
    grid-row-end: 8;
}

.searchbar-and-account-area {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 5;
    display: flex;
    align-items: center;
}

.search-bar-container {
    margin-left: 15px;
    width: 70%;
    display: flex;
    column-gap: 10px;
}


#search-box {
    width: 80%;
    border-radius: 10px;
    border: 1px solid var(--background-color)
}

.noti-user-name-container {
    width: 30%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.noti-li-container .material-icons {
    color: var(--icon-color);
}

.noti-li-container {
    list-style-type: none;
    font-weight: 15px;
    font-weight: bold;
}

.navbar-area {
    border: dashed red;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 5;
    display: flex;
    justify-content: space-around;
}

.user-icon-name-container {
    border: solid black;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.user-icon-name-container ul {
    border: dashed black;
    width: 100%;
    display: grid;
    grid-template: repeat(2, 50%)/ 15% 85%;
}

.li-user-info {
    list-style-type: none;
}

.user-icon .material-icons {
    color: yellow;
}

.user-icon {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.user-icon .material-icons {
    border: solid var(--icon-color) 5px;
    border-radius: 100px;
    color: var(--icon-color);
    font-size: 80px;
}

.user-hello {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    align-items: flex-end;
}

.user-name {
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.list-post-container {
    border: solid blue;
    width: 50%;
}

.list-post-container ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-display-area {
    border: solid brown;
    grid-row-start: 3;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 5;
    display: grid;
    grid-template: repeat(2, 50%) / 65% 35%;
}
.project-area {
    border: solid black;
    grid-row-start: 1;
    grid-row-end: 3;
}

.project-post-container {
    border: solid black;
    display: grid;
    grid-template: 32% 32% 32%/ 48% 48%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.post-box {
    border: solid red;
    width: 95%;
    height: 200px;
}

.announcement-area {
    border: solid black;
}

.announcement-container {
    border: solid red;
    height: 95%;
}

.announcements-box {
    border: solid black;
    height: 30%;
}

.trending-area {
    border: solid black;
}

.trending-container {
    border: solid red;
    height: 95%;
}

.trending-box {
    border: solid black;
    height: 25%;
}